body {
    background-color: rgb(4,14,39);
    font-family: "Alata", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}
h1 {
    display: none;
}
#spacer {
    height: 60px;
}
#logo {
    transform: translate(40px, 20px);
    width: 7%;
    filter: invert(100%);
}


#shop {
    display: flex;
}

#shop img{
    width: 100%;
}

h2 {
    letter-spacing: 3px;
    transform: translate(0px, -60px);
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(82, 18, 18);
}