/*
colour-pallete
#264653
#2a9d8f
#e9c46a
#f4a261
#e76f51



100% = 2 obj


space1 obj space2 obj space1
x 30 y 30 x
2x + y = 40%
x = m1 + m2
y = m2
2m1 + 3m2 = 40%
m1 = (40 - 3m2)/2 = 20 - (3/2)m2
m2 < 40/3 = 13

m2 = 10
m1 = 20 - 15 = 5

*/

body {
    background-color: rgb(4,14,39);
    font-family: "Alata", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}

#logo {
    width:6%;
    float:left; 
    margin:0;
    filter: invert(100%);
    transform: translate(30px, 10px);
}

#shop img {
    width: 100%;
    margin: 0px;
}


.assignment-page {
    width: 33%;
    display: inline-block;
  }
  
  #shop {
  }
  
  #shop h2 {
      font-size: 40px;
      transform: translate(0px, -130px);
  }


.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
  }
  header {
      border-radius: 0px 0px 0px 0px;
      padding-bottom: 100px;c   
  }

  h1 { 
        
        font-size: 0px;
        
}