body {
    background-color: rgb(4,14,39);
    font-family: "Alata", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}
h1 {
    display: none;
}
#spacer {
    height: 60px;
}
#logo {
    transform: translate(40px, 20px);
    width: 7%;
    filter: invert(100%);
}
#logo-name{
    margin: 0px;
    height: 3vw;
    width: auto;
}
header div{
    position: absolute;
    display: inline-block;
    transform: translate(80vw , 3.7vw);
}

main {
    width: 100%;
    height: auto;
}

#shop {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

#shop article{
    display: inline-block;
    flex-grow: 1;
    width: calc(100% * (1/2) - 10px - 1px);
    margin: 0 auto;
}

#shop img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    
}

#shop img:hover {
    object-fit: cover;
    cursor: pointer;
    transition: 1s;
    filter:blur(2px);
    
}
article:hover {
    cursor: pointer;
    position: relative;
    transition: all 1.3s;
}

h2 {
    letter-spacing: 3px;
    transform: translate(0px, -60px);
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(18, 18, 18);
}