/*
colour-pallete
#264653
#2a9d8f
#e9c46a
#f4a261
#e76f51



100% = 2 obj


space1 obj space2 obj space1
x 30 y 30 x
2x + y = 40%
x = m1 + m2
y = m2
2m1 + 3m2 = 40%
m1 = (40 - 3m2)/2 = 20 - (3/2)m2
m2 < 40/3 = 13

m2 = 10
m1 = 20 - 15 = 5

*/

#back {
    display:none;


}

.assignment-page {
    width: auto;
    height: auto;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 0.4;
    padding: 3px;
    color: rgb(20,20,0);
    text-align:center;
    font-size:30px;
    text-decoration:none;
    font-weight:normal;
    font-family:cursive;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
      
  }
  
  #shop {
      width: 90%;
      margin-top:0px;
      margin-left: auto; 
      margin-right: auto;
  
       text-align: justify;
  }
  


.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
  }
  

h1 {background-color: rgb(33, 114, 33); 
    margin-top: 0px;
        font-size: 50px;
        font-weight: normal;
        color: white; 
        width: 100%;
        padding: 30px 0px;
        text-align: center; 
        text-decoration: none;
        border-style: solid;
}