@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

a {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
}

h1, header {
    font-size: 0px;
}


nav {
    background: #F0A83E;
    height: 54px;
    display: flex;
    align-items: center; justify-content: space-between;
    padding: 0px 40px;
    position: sticky; top: 0px;
    box-shadow: 0 0px 10px 0 rgb(50, 50, 50);
}

nav div.categorias{
    font-size: 0;
}

nav .fa-bars {
    font-size: 20px;
}

.banner {
    background-image: url("../img/bowl-and-pet-daities-on-green-background.png");
    background-size: cover;
    height: 440px;
    display: flex;
    align-items: flex-end; justify-content:flex-end;
    
}

.banner p:nth-child(1) {
    color:#3C2313;
    font-size: 30px;
    font-weight: 400;
    /* text-align: center; */
    background-color: #fff;
    /* width: max-content; */
    padding: 10px;
    border-radius: 5px;
}

.banner p:nth-child(2) {
    color: #3C2313;
}

.banner p:nth-child(3) {
    color: #fff;
    background: #F0A83E;
    padding: 23px 15px 23px 15px;
    margin: 20px;
    border-radius: 5px;
}

.organizador{
    margin: 0 25px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}


.big {
    font-size: 40px;
    -webkit-text-stroke: 5px #F0A83E;
    color: rgba(0, 0, 0, 0);
}

div.cat {
    text-align: center;
    margin: auto;
}
div.cat h2 {
    color: #3C2313;
    font-weight: 700;
    font-size: 40px;
    margin: 0 100px 30px;
}
div.cat span {
    font-weight: 400;
    color: #666666;
}

.guion {
    padding-right: 13px;
    padding-left: 13px;
}
.cat {
    padding-bottom: 50px;
}

.article-list article {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    background-color: #FBFAF6;
}

.article-list article a {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 17.58px;
    font-weight: 500;
}

.article-list article a p:nth-child(2) {
    color: #3C2313;
}

.article-list article a p:nth-child(3) {
    
    color: #F0A83E;
}


.contacto {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.contacto p:nth-child(1) {
    font-weight: 700;
    size: 25px;
    line-height: 29.3px;
    color: #3C2313;
}

.contacto .dato {
    font-size: 9px;
    font-weight: 400;
    color: #fff;
    background: #3C2313;
    width: 340px;  height: 40px;
    border-radius: 15px;
    line-height: 40px;  
    padding: 0 15px;  
    margin: 2px auto;
}


.pre-footer {
    background-color: #F0A83E;
    margin-top: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 0 25px 0 50px;
    align-items: center;
    justify-content: space-between;
}
.pre-footer div {
    display: flex;
    align-items: center;
}
.pre-footer div span{
    color: #fff;
    text-indent: 15px;
    font-size: 20px;
    font-weight: 500;
}

.pre-footer .dato {
    background: #fff;
    color: #A0A0A0;
    font-size: 9px;
    padding: 0px;
    width: 271px;   height: 40px;
    line-height: 40px;
    padding: 0 8px;
    border-radius: 15px;
}
.pre-footer .p-button{
    margin-left: 10px;
    background: #3C2313;
    color: #fff;
    font-size: 9px;
    line-height: 34px;
    width: 70px;
    height: 34px;
    text-align: center;
    border-radius: 15px;
}





.datos-de-contacto {
    padding: 50px 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 284px;
    order: 1;
    
}


.datos-de-contacto .footer-left .icons {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.datos-de-contacto .footer-left .icons *{
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 35px;
    background: #8A8787;
    width: 60px;height: 60px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 6px #786960;
}

.data-contacto {
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 100%;
}

.data-contacto div h3 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}
.data-contacto div p {
    color: #666666; 
    font-weight: 100;
    margin-top: 0;
}

.data-contacto div {
    position: relative;
    height: 60px;
}


footer {
    background-color: #3C2313;
    bottom: 0px;
}

.derechos {
    text-align: center;
    color: #fff;
    background-color: #222222;
    margin: 0;
    line-height: 20px;
}

ul {
    list-style: none;

}

li {
    gap: 100px;
}