@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

a {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
}

nav i {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.05vw #ffffff;}

a {
    text-decoration: none;
    position: relative;
}
h1 {
    font-size: 0px;
}
input {
    border: none;
    outline: none;
}
header {
    background-color:#222222;
    color: #F3F3F3;
    font-size: 10px;
    font-weight: normal;
    line-height: 12px;
    display: flex;
    align-items: center;
    padding: 4px 50px 4px 90px;
}

.idioma {
    position: absolute;
    right:98px;
}

.moneda {
    position: absolute;
    right:40px;
}

nav {
    background: #F0A83E;
    height: 62px;
    display: flex;
    align-items: center;
    padding: 0px 4vw;
    position: sticky;
    top: 0px;
    box-shadow: 0 0.1px 100px 0 rgb(50, 50, 50);
    z-index: 10;
}
.nav-phone {
    font-size: 0;
}
nav div.categorias{
    position: absolute;
    display: flex;
    right: 4vw;
}

nav div.categorias a {
    color: #fff;
    margin-left: 20px;
}


.banner {
    background-image: url("../img/bowl-and-pet-daities-on-green-background.png");
    background-size:contain;
    height: 39.6vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    transition: all 1s ease-out 0s;
}


.banner p:nth-child(1) {
    color:#3C2313;
    font-size: 30px;
    font-weight: 400;
    /* text-align: center; */
    background-color: #fff;
    /* width: max-content; */
    padding: 10px;
    border-radius: 5px;
}

.banner p:nth-child(2) {
    color: #3C2313;
}

.banner p:nth-child(3) {
    color: #fff;
    background: #F0A83E;
    padding: 23px 15px 23px 15px;
    border-radius: 5px;
}

.organizador{
    margin: 0 80px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}



/* 
@media screen {
    
} */

.big {
    font-size: 5rem;
    -webkit-text-stroke: 0.5rem #F0A83E;
    color: rgba(0, 0, 0, 0);
}

div.cat {
    text-align: center;
    margin: auto;
}
div.cat h2 {
    font-weight: 700;
}
div.cat span {
    font-weight: 400;
    color: #666666;
}

.guion {
    padding-right: 13px;
    padding-left: 13px;
}
.cat {
    padding-bottom: 50px;
}

div.article-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 78px;
    margin: auto
}

.article-list article {
    display: flex;
    
    background-color: #FBFAF6;
    box-shadow: 0px 10px 20px 0 rgb(200, 200, 200);
}

.article-list article a {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 17.58px;
    font-weight: 500;
}

.article-list article a p:nth-child(2) {
    color: #3C2313;
}

.article-list article a p:nth-child(3) {
    
    color: #F0A83E;
}


.contacto {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.contacto form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.contacto p {
    font-weight: 700;
    size: 25px;
    line-height: 29.3px;
    color: #3C2313;
}

.contacto .dato {
    font-weight: 400;
    color: #fff;
    background: #3C2313;
    width: 340px;  height: 40px;
    border-radius: 15px;
    line-height: 40px;  
    padding: 0 15px;  
    
}

.reset {
    color: #fff;
    background: #8A8787;
    border: none;
    line-height: 2.2em;
    padding: 0 1.2em;
    border-radius: 1em;
}

.submit {
    color: #fff;
    background-color: #F0A83E;
    border: none;
    line-height: 2.2em;
    padding: 0 1.2em;
    border-radius: 1em;

}


/* <------- PRE FOOTER -------> */
.pre-footer {
    background-color: #F0A83E;
    margin-top: 150px;
    height: 60px;
    display: flex;
    padding: 0 25px 0 50px;
    align-items: center;
    justify-content: space-between;
}
.pre-footer div {
    display: flex;
    align-items: center;
}
.pre-footer div span{
    color: #fff;
    text-indent: 15px;
    font-size: 20px;
    font-weight: 500;
}

.pre-footer .dato {
    background: #fff;
    color: #A0A0A0;
    /* font-size: 9px; */
    padding: 0px;
    width: 271px;   height: 40px;
    line-height: 40px;
    padding: 0 8px;
    border-radius: 15px;
}
.pre-footer .p-button{
    margin-left: 10px;
    background: #3C2313;
    color: #fff;
    font-size: 9px;
    line-height: 34px;
    width: 70px;
    text-align: center;
    border-radius: 15px;
}


/* <--------- FOOTER -----------> */

.datos-de-contacto {
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 284px;
    
}


.datos-de-contacto .footer-left .icons {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.datos-de-contacto .footer-left .icons *{
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 35px;
    background: #8A8787;
    width: 60px;height: 60px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 6px #786960;
}

.data-contacto {
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 100%;
}

.data-contacto div h3 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}
.data-contacto div p {
    color: #666666; 
    font-weight: 100;
    margin-top: 0;
}

.data-contacto div {
    position: relative;
    height: 60px;
}

footer {
    background-color: #3C2313;
    bottom: 0px;
}

.derechos {
    text-align: center;
    color: #fff;
    background-color: #222222;
    margin: 0;
    line-height: 20px;
}


@media screen and (max-width : 700px) {
    header {
        display: none;
    }
    nav div.categorias{
        display: none;
    }
    nav::after {
        content: "\f0c9";
        position: absolute;
        right: 60px;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        color: white;
        font-size: 2rem;
        z-index: 100;
    }
    .banner {
        background-position: -11.1vw 0;
        background-size: cover;
        height: 100vw;
        justify-content: flex-end;
    }
    .banner p {
        margin-bottom: 3px;
    }
    .banner p:nth-child(2) {
        background: lemonchiffon;
        padding: 0.3em;
    }
    div.article-list {
        flex-direction: column;
        gap: 2rem;
    }
    .datos-de-contacto {
        flex-direction: column;
    }
    .datos-de-contacto img {
        margin-top: 30px;
        order: -1;
    }
    .pre-footer {
        justify-content: center;
    }
    .pre-footer .p-button, .pre-footer .dato {
        display: none;
    }
}