* {
    margin: 0;
    font-size: 16px;
}

div {
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10%;
    position: relative;
    background: #053541;
    z-index: 0;
}
div p {
    color: #ddd;
    line-height: 20px;
}

.bar {
    transition: all 0.1s ease-out;
    position: absolute;
    top: calc(50% - 40px);
    width: 98%;
    left: 2%;
    border-radius: 20px 0 0 20px;
    height: 20px;
    background: #f35d65;
    z-index: -1;
    transform: translate(0, var(--pos));
}
div .two:hover ~ .bar {
    --pos: 20px;
}

div .three:hover ~ .bar {
    --pos: 40px;
}

div .four:hover ~ .bar {
    --pos: 60px;
}
