@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* { font-family: 'Roboto', sans-serif; }

.l100 {font-weight: 100;}
.l200 {font-weight: 200;}
.l300 {font-weight: 300;}
.l400 {font-weight: 400;}
.l500 {font-weight: 500;}
.l600 {font-weight: 600;}
.l700 {font-weight: 700;}
.l800 {font-weight: 800;}
.l900 {font-weight: 900;}