@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif
}
body {
    height: 100vh;
    overflow: hidden;
}
.saludo {
    position: relative;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    background: rgb(218,127,127);
    background: linear-gradient(117deg, rgba(218,127,127,1) 0%, rgba(116,209,245,1) 51%, rgba(150,204,71,1) 100%);
    background: rgb(44, 44, 44);
    /* background: url(https://www.kali.org/images/notebook-kali-2021.2.jpg); */
    background-size: contain;
    font-family: "Courier New", Courier, monospace;
    color: #ddd;
}
@keyframes intro {
    from {opacity: 0;}
}
.saludo .top {
    width: 100%;
    max-width: 100%;
    position: relative;
    top: -1px;
    transform: translate(-50%, 0);
    box-shadow: none;

}
.saludo .col {
    color: darkblue;
}
.saludo .user {
    color: yellowgreen;
    padding-left: 30px;
}
.saludo div.mensaje {
    position: relative;
    padding: 0 40px;
    width: 60%;
    box-shadow: none;
}
.saludo img.profe {
    position: absolute;
    left: auto;
    top: auto;
    right: 20px;
    bottom: 60px;
    transform: translate(0, 0);
    padding: 5px 5px 40px 5px;
}
.saludo .curr-line::after {
    content: "a";
    background: white;
    color: white;
    width: 10px;
    margin-left: 1px;
    animation: cycle 0.8s infinite;
}
@keyframes cycle {
    80%, 100% {opacity: 0;}
}
section#main {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
article {
    display: flex;
    height: 100vh;
    box-shadow: 0px 0px 30px black;
    position: relative;
}
#dahy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: linear-gradient(90deg, hsl(0, 50%, 50%), hsl(40, 50%, 50%));
}
#dahy video {
    width: 85%;
    box-shadow: 2px 2px 10px black;
}
div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1vw;
    position: relative;
    box-shadow: -1px 0 20px black;
}
.img {
    background: linear-gradient(var(--bgn), var(--bgn2));
    width: 60%;
    overflow: hidden !important;
    position: relative;
}
img {
    border-radius: 4px;
    max-height: 95%;
    max-width: 95%;
    /* padding: 15px;
    padding-bottom: 120px; */
    background: #ddd;
    box-shadow: 10px 10px 20px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text {
    gap: 30px;
    background: white;
    width: 40%;
}
.text h3 {
    position: absolute;
    bottom: 60px;
}
.text h2 {
}
.text p {
    padding: 40px;
}
input {
    position: fixed;
    transform: translate(50%, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: #444;
    background: #ccc;
    font-size: 1.6rem;
    padding-bottom: 20px;
    cursor:pointer;
    right: 50%;
    z-index: 100;
    outline: none;
    box-shadow: 1px 1px 5px black;
}
.down {
    line-height: 21px;
    bottom: 20px;
}
.up {
    top: 20px;
    line-height: 40px;
}
input:hover {
    box-shadow: 1px 1px 10px black;
    transition: all 0.5s;
    background: #111;
    color: #fff;
}


@media screen and (max-width: 480px) {
    article {
        flex-direction: column;
        width: 100%;
    }
    div {
        width: 100%;
        height: 60%;
    }
    .img {
        height: 40%;
        width: 100%;
    }
    .text {
        width: 100%;
        padding: 4px;
        text-align: center;
    }
    .text h2 {
        margin: 0;
    }
    .text p {
        padding: 10px;
    }
    .text h3 {
        position: relative;
        bottom: 0px;
    }
    input {
        right: 50%;
    }
    .saludo img.profe {
        display: none;
    }
    .saludo div.mensaje {
        position: relative;
        padding: 0 40px;
        width: 100%;
        box-shadow: none;
    }
}