@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif
}
body {
    height: 100vh;
    overflow: hidden;
}
.saludo {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(218,127,127);
    background: linear-gradient(117deg, rgba(218,127,127,1) 0%, rgba(116,209,245,1) 51%, rgba(150,204,71,1) 100%);
    padding: 100px;
    
}
section#main {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
article {
    display: flex;
    height: 100vh;
    box-shadow: 0px 0px 30px black;
    position: relative;
}
div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    position: relative;
    box-shadow: -1px 0 20px black;
}
.img {
    background: linear-gradient(var(--bgn), var(--bgn2));
    width: 60%;
}
.text {
    gap: 30px;
    background: white;
    width: 40%;
}
.text h3 {
    position: absolute;
    bottom: 60px;
}
.text h2 {
}
.text p {
    padding: 40px;
}
img {
    border-radius: 4px;
    box-shadow: 5px 5px 20px black;
    max-height: 95%;
    max-width: 100%;
}
input {
    position: fixed;
    transform: translate(50%, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: #444;
    background: #ccc;
    font-size: 1.6rem;
    padding-bottom: 20px;
    cursor:pointer;
    right: 50%;
    z-index: 100;
    outline: none;
    box-shadow: 1px 1px 5px black;
}
.down {
    line-height: 21px;
    bottom: 20px;
}
.up {
    top: 20px;
    line-height: 40px;
}
input:hover {
    box-shadow: 1px 1px 10px black;
    transition: all 0.5s;
    background: #111;
    color: #fff;
}


@media screen and (max-width: 480px) {
    article {
        flex-direction: column;
        width: 100%;
    }
    div {
        width: 100%;
        height: 60%;
    }
    .img {
        height: 40%;
    }
    input {
        right: 50%;
    }
}