
body { 
    background-color: linear-gradient(#fff, #000);
    margin: 0px; 


}

header {
    text-align: center;
    background-color: #E5E5E5;
}

header img {
    width: 6.94vw;
    height: auto;
}
h1 {
    color: #005677;
    background-color: #C4C4C4;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 2.43vw;
    line-height: 2.05vw;
    letter-spacing: 0.69vw;
    word-spacing: calc(2.5vw - 2.34vw);
    padding: 1.04vw 0vw 1.04vw 0px;
}

h2 {
    background-color: #C4C4C4;
    color: #005677;
    font-size: 1.18vw;
    padding-top: 0.45vw;
    padding-bottom: 0.45vw;
    padding-left: 0.625vw;
    line-height: 84.69%;
    word-spacing: 0.34vw;
    letter-spacing: 1.18vw;
}



ul span {
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}
ul#list {
    list-style-type:none;
}

ul#list span {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}

section {
    
    width: 72.29vw;
    margin:auto;

}

.space {
    opacity: 0;
}

#spacer {
    height: 7.70vw;
}
#spacer2 {
    height: 8.05vw;
}

footer {
    background-color: #005677;
    color: white;
    text-align: center;
}

footer span {
    font-style: normal;
    font-weight: bold;
    vertical-align:super;
    font-size: 20px;
    line-height: 84.69%;
}

footer img {
    padding-left: 27px;
    padding-top: 9px;
    padding-bottom: 3px;
}




dl {
    display: grid;
    grid-auto-columns: max-content;
}
dt, dd {
    display: grid;
    margin: 0 .2em;
}
dt {
    grid-column: 1;
}
dd {
    grid-column: 2;
}
