@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body a {
    text-decoration: none;
    color: none;

}

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    max-width: 100%;

}


header {
    margin-bottom: 8vw;
}

nav {
    background-color: black;
    position: fixed;
    width: 100%;
    display: flex;
    top:0;
    height: 8vw;
    flex-grow: 1;
    align-items: stretch;
    z-index: 100;
}
header div:nth-child(1) {
    margin: 2.5px 2.5px;
    width: 35%;
    height: auto;
    background-color: #ded7cf;
    text-align: center;
}
header div:nth-child(1) span {
    position:absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}


header nav div:nth-child(2) {
    position: relative;
    width: 100%;
    margin: 2.5px 2.5px;
    padding-right: 100px;
    background-color: white;
    display: flex;
    justify-content:flex-end;
    align-items: center;

}

header nav div a{
    text-decoration: none;
    margin:1vw;
    color: rgba(16, 16, 38, 1);
    font-size: 20px;
}