:root {
    --color1: #222831;
    --color2: #393E46;
    --color3: #00ADB5;
    --color4: #EEEEEE;
}



header {
    width: 100%;
    height: 20vh;
}

#logo {
    margin-left: 3vw;
    margin-top: 1vh;
    height:10vh;
}

section article img {
    width: 24vw;
    height: 80vh;
    object-fit: cover;
}

section article{
    width: 24vw;
    height: 80vh;
    margin: auto;
}



section article div {
    position: absolute;
    transform: translate(-10vw, -80vh);
    width: 20vw;
    padding: 0px;
    margin: 2vw;
    text-indent: 0px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms;
}
section article:hover img{
    filter: blur(2px);
}

section article:hover div {
    transform: translate(0px, -80vh);
    color: var(--color1);
    opacity: 1;
    visibility: visible;
    border: white;
}


section {
    padding-top: 3vh;
    width: 80vw;
    display:flex;
    margin: auto;
    text-align: justify;
}

#img {
    width: 20px;
    max-width: 100vw;
}

footer {
    background: linear-gradient(200deg, var(--color2) 0%, var(--color3) 40%, var(--color4));
    position:absolute;
    width: 100%;
}


footer img#logo{
    width: 5vh;
    height: auto;
    margin-left: 0px;
    padding: 0px;
}

footer span:first-child{
    text-align: left;
    position: absolute;
    bottom:0px;
}


footer div{
    text-align: right;
    margin-right: 2vw;
}

body {
    margin: 0px;
    max-width: 100vw;
    background-color: var(--color1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}


.banner {
    margin-top: 0px;
    background-image: url(../img/maxresdefault.jpg);
    height: 15vh;
    background-attachment:fixed;
}

#spacer {
    height: 20vh;
}

footer div.icons i{
    color: black;
}

footer div.icons{
    position:absolute;
    left: calc(50vw - 1.5em);
    bottom: 0px;
}