@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$clr-primary: yellow;
$clr-secondary: orange;
$clr-black: #222;

* {
    margin:0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    :focus {
        outline: none;
    }
}


header {
    display: flex;
    background: $clr-black;
    position: relative;
    color: wheat;
    padding: 4px;

    h1 {
        display: none;
    }
    .idioma {
        position: absolute;
        right: 20px
    }
    .moneda {
        position: absolute;
        right: 120px;
    }
    select {
        background: none;
        border: none;
        color: wheat;
        option {
            color: $clr-black;
        }
    }
}

nav {
    background: $clr-primary;
    display: flex;
    height: 40px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    .categorias {
        i {
            color: wheat;
        }
        a {
            color: $clr-black;
            text-decoration: none;
        }
    }
}
